header {
  padding: 10px 50px;
  background-color: rgb(148, 219, 221);
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo {
      &:hover {
        opacity: 0.6;
      }
    }
    div {
      a {
        margin-left: 30px;
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  header {
    nav {
      flex-direction: column;
      div {
        display: flex;
        flex-direction: row;
        a {
          font-size: 1em;
          margin-right: 8px;
          margin-left: 8px;
        }
      }
    }
  }
}
