main {
  section {
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: center;
    img {
      width: 400px;
      margin-right: 20px;
    }
    div {
      border: 1px solid gray;
      padding: 20px 40px;
      h2 {
        text-align: center;
      }
      h4 {
        text-align: justify;
      }
    }
  }
}
@media screen and (max-width: 996px) {
  main {
    section {
      display: flex;
      flex-direction: column;
      width: 350px;
      margin: auto;
      img {
        width: 350px;
      }
    }
  }
}
@media screen and (max-width: 540px) {
  main {
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 320px;
      margin: auto;
      padding: 10px 5px;
      img {
        width: 320px;
      }
      div {
        padding: 0;
        h4 {
          text-align: center;
        }
      }
    }
  }
}
